doctype html
html
  head
    title QR Code
  body
    h1 QR Code for 2FA
    img(src=qrUrl, alt='QR Code')
    p Use this QR code to set up 2FA in your authenticator app
    p If you can't scan the QR code, enter this setup key: #{setupKey}
